/* Import fonts from font.css */
@import url(./fonts.css);

/* Start Navigation */
.header_area .main-menu .navbar .navbar-brand {
  padding: 0 2rem 0 5rem !important;
}

.header_area .main-menu .navbar {
  padding: 1rem 15rem !important;
}

.header_area .main-menu .nav-item .nav-link {
  font-family: "Roboto", -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Ubuntu, 'Helvetica Neue';
  text-transform: uppercase;
  font-weight: 500;
  padding: 1.7rem;
  color: black;
}
/* End Navigation */
